certifi
charset-normalizercls
click
colorama
databases
Flask
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
PyMySQL
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
flask.ext.mysq
mysql-connector-python
mysqlclient
mysql